h1 {
    color: #555;
}

body {
    margin: 0px;
    background-color: rgba(244,241,234,0.5);
    font-family: 'Roboto', sans-serif;
}

.top-nav {
    padding: 16px;
    border-bottom: solid 1px #ccc;
    background-color: #f4f1ea;
    color: black;
}

main {
    padding: 0 16px;
    max-width: 700px;
}

.review {
    display: flex;
    margin: 16px;
    border: solid 1px #999;
    padding: 8px;
    border-radius: 3px;
    background-color: #fafafa;
}

.review .content {
    display: flex;
}

.review img {
    margin-right: 16px;
    height: 200px;
    width: auto;
}

.review h1 {
    margin: 0;
}